RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 403 /assets/html/error.shtml
ErrorDocument 401 /assets/html/error.shtml
ErrorDocument 404 /assets/html/error.shtml
ErrorDocument 500 /assets/html/error.shtml